<IfModule mod_expires.c>
          ExpiresActive on
          ExpiresByType image/webp "access plus 24 hours"
          ExpiresByType image/jpg "access plus 24 hours"
          ExpiresByType image/png "access plus 24 hours"
          ExpiresByType image/gif "access plus 24 hours"
          ExpiresByType image/jpeg "access plus 24 hours"
          ExpiresByType text/css "access plus 24 hours"
          ExpiresByType application/x-javascript "access plus 24 hours"
          ExpiresByType application/javascript "access plus 24 hours"
</IfModule>

# BEGIN Cache-Control Headers
<ifmodule mod_headers.c>
 
 <filesmatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
 Header set Cache-Control "max-age=8380800"
 </filesmatch>

 <filesmatch "\\.(css)$">
 Header set Cache-Control "max-age=8380800"
 </filesmatch>

 <filesmatch "\\.(js)$">
 Header set Cache-Control "max-age=8380800"
 </filesmatch>

<filesmatch "\\.(html|htm)$">
Header set Cache-Control "max-age=7200"
</filesmatch>

</ifmodule>

# END Cache-Control Headers